name: "Incremental GitHub Sync - test"

on:
  schedule:
    - cron: "*/2 * * * *"  # Runs every 2 minutes
  repository_dispatch:
    types: [incremental-push-job]
  workflow_dispatch:
    inputs:
      target_org:
        description: "Target Organization"
        required: true
        default: "mgmri-commerce"
      repo_name:
        description: "Repository Name"
        required: true
        default: "example-repo"
      source_org:
        description: "Source Organization"
        required: true
        default: "MGMResorts"

jobs:
  sync:
    runs-on: ubuntu-latest
    env:
      TARGET_ORG: ${{ github.event.inputs.target_org || 'mgmri-commerce' }}
      REPO_NAME: ${{ github.event.inputs.repo_name || 'example-repo' }}
      SOURCE_ORG: ${{ github.event.inputs.source_org || 'MGMResorts' }}
    steps:
      - name: "Checkout action"
        uses: actions/checkout@v4

      - name: "Print the client payload"
        run: |
          echo "Target Organization: $TARGET_ORG"
          echo "Repository Name: $REPO_NAME"
          echo "Source Organization: $SOURCE_ORG"

      - name: Run Sync Script
        continue-on-error: true
        env:
          GITHUB_SOURCE_TOKEN: ${{ secrets.GH_PAT }}
          GITHUB_DEST_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          bash ./.github/scripts/github_migrate.sh
